* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s all;
}

body {
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  align-items: flex-start;
  color: #545454;
}

.container {
  background: #39cccc;
  padding: 50px;
  border-radius: 25px;
}

.title {
  text-align: center;
}

.title {
  span {
    color: #f2ebd3;
  }
}

.status-action {
  margin-top: 25px;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  height: 30px;
}

.reset {
  cursor: pointer;
}

.reset:hover {
  color: #f2ebd3;
}

.game-grid {
  background: #0da192;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 30px;
}

.game-cell {
  width: 150px;
  height: 150px;
  background: #39cccc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s all;
  border: 5px solid transparent;

  &:hover {
    cursor: pointer;
  }
}

.x,
.o {
  cursor: default;
}

.x::after {
  content: "✗";
  font-size: 100px;
}

.o::after {
  content: "○";
  color: #f2ebd3;
  font-size: 130px;
  font-weight: bold;
}

.status {
  span {
    color: #f2ebd3;
  }
}

.won::after {
  color: #bd022f;
}

@media only screen and (max-width: 1024px) {
  .game-grid {
    margin-top: 25px;
    grid-gap: 16px;
    gap: 10px;
  }

  .game-cell {
    height: 100px;
    width: 100px;
  }

  .x::after {
    font-size: 85px;
  }

  .o::after {
    font-size: 85px;
  }
}

@media only screen and (max-width: 540px) {
  .container {
    margin: 25px;
    padding: 25px;
  }

  .game-grid {
    gap: 5px;
  }

  .game-cell {
    height: 75px;
    width: 75px;
  }

  .x::after {
    font-size: 50px;
  }

  .o::after {
    font-size: 50px;
  }
}

.active {
  border: 5px solid goldenrod;
}
